body{
    text-align: center;
    
}
#apps{
    background-color: black;
    margin: auto;
}
#game{
    background-color: aliceblue;
    margin: auto;
}
#chatbot{
    background-color: aquamarine;
}
#my_games{
    background-color: blanchedalmond;
}
#my_games{
    height: 300px;
    margin-top: 35px
}
.carousel-inner p{
    margin-bottom: 15px;margin-top: 15px;
    color: black;font-size: 23px
}